#footer
  %br
  Developed by
  %a{:href => 'http://twitter.com/ohac'} @ohac
  |
  %a{:href => 'http://github.com/ohac/twtester'} Source Code
  |
  %a{:href => 'http://twitter.com/home/?status=@ohac%20%23twtester%20'} Feedback
  |
  %a{:href => 'http://twitter.com/home/?status=@ohac%20%23twtester%20'} Contact
