%html
  %head
    %title twtester
  %body
    %form{:method => 'post', :action => '/1/statuses/update.json'}
      %textarea{:name => 'status', :rows => 2, :cols => 40}
      %br
      %input{:type => 'submit', :value => 'Tweet'}
    - timeline.reverse.each do |tweet|
      - user = tweet['user']
      %img{:src => user['profile_image_url']}
      = h user['screen_name']
      = h tweet['text']
      %br
