!!! XML
%hash
  %remaining-hits{:type => :integer} 150
  %hourly-limit{:type => :integer} 150
  %reset-time{:type => :datetime} 2010-07-03T21:57:23+00:00
  %reset-time-in-seconds{:type => :integer} 1239227843
