body {
  text-align: center;
}
#container {
  text-align: left;
}
#main {
  width: 600px;
  float: left;
}
#sidebar {
  width: 100px;
  float: right;
}
#footer {
  width: 100%;
  text-align: center;
  clear: left;
}
.screen_name {
  color: blue;
  font-weight: bold;
}
a {
  text-decoration:none;
}
.twstat a {
  color: gray;
}
p.box {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}
